.hamburger {
    display: block;
    position:relative;
    top: 5px;
    left: 5px;
    padding: 20px;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

.leftmenuwrapper {
    display: none;
}

.leftmenuwrapperactive {
    padding-left: 40px;
    padding-top: 20px;
    height: 100%;
    width: 38%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    text-align: start;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 999;
}

.leftmenuwrapper img {
    cursor: pointer;
}

.leftmenu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 50px;
    
}
.leftmenu li{
    margin-top: 30px;
    list-style-type: none;
    text-decoration: none;
    font: var(--grayishBlue);
    font-weight: 400;
    font-size: 18px;
}