
.button {
    padding: 15px 50px;
    background-color: var(--orange);
    width: auto;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--white);
    cursor: pointer;
}


@media (min-width: 768px) {
    .button {
        margin: 20px 0;
        padding: 0;
        width: 50%;
    }
}
