.inputWrapper {
    display: flex;
    flex-direction: column;
}

.input{
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: var(--lightGrayishBlue);
    margin: 20px 0 20px 0;
    width: auto;
    align-items: center;
    cursor: pointer;
}

.input [type=number]{
    width: 100%;
    border: none;
    text-align: center;
    background-color: var(--lightGrayishBlue);
    color: var(--black);
    font-weight: 700;
    font-size: 25px;
}

.input label {
    display: none;
}

.input #amount {
    width: auto;
}

button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: #8a2b06;
    border: 1px solid #8a2b06;
    width: 3rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
    margin: 0.25rem;
}

button:hover,
button:active {
    background-color: #8a2b06;
    color: white;
}


@media (min-width: 768px) {
    .inputWrapper {
        flex-direction: row;
        height: 100px;
    }
    
.input{
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: var(--lightGrayishBlue);
    width: 100%;
    align-items: center;
}

}